<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Products</title>

    <style>

        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ddd; padding: 8px; }
        th { background: #222; color: white; }
        button { padding: 6px 10px; }
    </style>
</head>
<body>

<h2>Admin - Products</h2>
<p th:if="${error}" style="color:red;">
    [[${error}]]
</p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Actions</th>
    </tr>

    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td>
            <a th:href="@{/admin/products/delete/{id}(id=${product.id})}">
                Delete
            </a>


            <a th:href="@{/admin/products/edit/{id}(id=${product.id})}">
                Edit
            </a>

        </td>
    </tr>
</table>

</body>
</html>